*.pyc
__pycache__
*~
*.in.h
*.ui.h
.coverage
src/podcastparser.py
src/mygpoclient
src/dbus
build
share/applications/gpodder-url-handler.desktop
share/applications/gpodder.desktop
share/dbus-1/services/org.gpodder.service
share/locale/
venv/*
