[Desktop Entry]
Name=gPodder
Exec=gpodder --fremantle
Icon=gpodder
Terminal=false
Type=Application
Categories=AudioVideo;Audio;Network;FileTransfer;News;GTK;
StartupWMClass=gpodder
