[Desktop Entry]
Name=gPodder
Exec=gpodder --maemo
Icon=gpodder
Terminal=false
Type=Application
Categories=AudioVideo;Audio;FileTransfer;News;GTK;
StartupWMClass=gpodder
