Source: gpodder
Maintainer: Thomas Perl <m@thp.io>
Section: user/multimedia
Priority: optional
Standards-Version: 3.7.3
Build-Depends: debhelper (>= 5.0.37.2), python-dev, intltool, python-feedparser
Homepage: http://gpodder.org/

Package: gpodder
Architecture: all
Depends: python (>= 2.5), python-pyside.qtcore, python-pyside.qtgui, python-pyside.qtdeclarative, python-feedparser (>= 5.0.1), python-dbus, python-conic
Conflicts: python-mygpoclient
Provides: python-mygpoclient
Description: A podcast aggregator for the Nokia N950 and N9
 gPodder is a podcast receiver/catcher with a specialized UI that
 has been optimized for MeeGo Harmattan. Podcasts are like
 short radio shows that you can download from the Internet and
 subscribe to like blogs or news feeds.
 .
 gPodder supports both audio and video podcasts equally, and is
 said to be one of the most usable podcast clients available.
 .
 Different versions for several platforms and devices exist.
 This is the Harmattan-optimized version of gPodder.
XB-Maemo-Display-Name: gPodder Podcast Client
XB-Maemo-Display-Name-pl_PL: Klient podcastów gPodder
XB-Maemo-Display-Name-de_DE: gPodder Podcast-Client
XB-Maemo-Icon-26: iVBORw0KGgoAAAANSUhEUgAAAFAAAABQCAYAAACOEfKtAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A
 /wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9sEGhcBEGPMw6cAABqdSURBVHja
 7Z15eFVFnvc/dc65S3KzQUJCNkEUkU2wQVkaJcLLiO04SNvvwNitMI6oLILLgLS2S3eL4jqu9Cjv
 9ANiK7ixNa5RQSEsgiQimywSkhBCFrLd7Wz1/nGX5JIEAgRbu6eep+65OadOnarv+e2/uhX433JW
 RfxQD5o/84UBQHdgIJASPhI+1/0Muz0UrgCFQG3Apxe6452H5r4ws+gnC+D8mS8kA3lAnlCUwdK2
 RwBYpk0woGNZFkF/EABDNzF1M+b+SLvmxeV2ompKzDnNqeFwaqHrcS5UVSU+wd28ydowsGuBtXNf
 mFn3owXwz0+8mXqsrPI3wGRgoGXaeBv86MEg/sYAAX8Q25I/CLVrDhWny0Fcgps4TxyexDgATMMq
 1BzqoqqjNSuefuuR4h8FgI/PeGGkoim32qb9G0M3aaxvxFvvw9cY+FHJqvgEN56keBKSEnA4NUzT
 XKFp2nO/fWnmur8JgK88+trQ6vLjjwN5jfU+6qrrfnSgtVU8SfGkpCUR74kDWOvz+h95dNHcdT8I
 gI9Nfz5Z0ZRHbdOe0Vjvo/JIFaZh/SQ1qNvjIjWjE/GeODSn9idTN397/8uz6s4ZgI9Nf34AsEIP
 Gt2PlVXi9wb/LkyR+MQ4uuZ2QVXVQ8D19788q6jDAZw37blJmlN7pabiuKvqaM0PphB+qKKogozs
 Lrg9LlRVnfzAgrsWt+c+tT2NHp36X5OARRWllVp1RS3S/vsCD0DakoY6L6qm4I5zXT/qsrGHPtv6
 UdFZU+Afbn9mErDo2JEqGmob/yG8i8SUBNKz0gAmP/TKvYvPGMDf3/b0ANWhbq4oqXTV1dT/Q7lo
 aV07k5iSgKIoAx9+9T+LThvAh6Y8kQwUNtZ5u1eWVf9D+rkZuV2Ii3cfEqoY+IeF97WqnZU2haOq
 /tHUze6V5dVI7H/IWlFWiZSyO/DIaVHgvDv/a1DQp28tKy6P+qznsrjiXHTrmUOPi7tx/sXdyOre
 lYSkeKQEb70Xb4OPqqM17C3az56i/VQeqfrBqDDOE0dmbgbVlcfzXl41v4WxrbV2k8/rf9rX4Mfn
 9Z/TwfUacCFjxl9JvyEXU1hUyLZt2/jgtRXs378fXdcxTRPbtunWrRv9+vWjb9++3H3zFBzCxSfv
 rmPtXzfg955b76exwYvX6yUlLekR4KpTUuBTc14aeryybmPJgbJz5mH0GnAh/37vRPyWlwULFrBo
 0SLq69unpBRFYdSoUUyePJlrf/HPfLZ8PSsWf4BpmOfOY4l3knleV45X1uX96a9PrjspBdZW101r
 rG/E0Dt+QPEJcdw4/ZdcNOh8Zs68k5UrVyJlyKYUQtCzZ08uv/xyBgwYgMsVCk+Zpsm+ffvYvXs3
 27dvp6amhvz8fPLz8+nRowcvvvgijy9+gFcee419Ow6eEwD93iB+r5+0zE63A+vapMBn5i5IPXak
 qqrySBXeRl+HDqJrTjr3P383y1e/y5w5c6IUd8EFF3DbbbcxadIkrKBkT+E+Nq7biK6bZHbNwuly
 knVeBlndM7mgTzfyP81n0aJFrF69GssKccj48eNZuHAh7y18n09XfnFubMOkBDqlp9CtV3bGjAen
 HGsVwIfvmH9HY533TyUHj3Tow7tdmMPc52Yx6+6ZvP766wB06dKFF154gV+MvZZ1awr4dMUXlBSX
 Uhs4SkK8B0VVqK2rxeNMweNMCQn0eDdDRg1i9Lgr8duNTJ8+nQ0bNgDQu3dvPvzwQz5/byPvL/3k
 nIB43oU52JZ117NLH32+VRa2TPuXjQ3eKFt1RMk5P4vfPn8X/zHlFpYvXw7ADTfcwMsvvUzBh1uZ
 9i+z0YMGAPWBY1xy8SV073o+ti3x6z7Wb1+H32zErXrwef18vno9n69ez9DRg3nvrRW8vXwZs2bN
 Yvfu3QwfPpz8/Hz8Xj+frfqywwH0NnhJSPZMAJ5vQYH3/vrBZKD2aEklwUDHaDany8H8RQ8z+/57
 WbZsGQDTp0/n4QceYf69z3P4QGm0bcDw4kqA4f2vpL66PmremKrB51s+JcXVFVWJFdnxnjj+84kZ
 HDp6gIkTJ+Lz+ejVqxcFGwp4dMazlBws63CTJj0rjeJ9JSnvbFlUF2NISynzQrmIjjMLbp41kfx1
 H0fBu+uuu3hgzu946PbHY8BDSvxWHQN6XYq3zhs9HfQHcSlu+lzYB58Z6wjYtoXP62ferGdJcabx
 9ttvI4Rg79693DnzTu6eNxVNUzsUwIAvgJSSzNyMvBbRmJGDR09urG8c4W3oGOXRs98FjJlwJePG
 jUPXdUaMGMF/L3iFB6bMo7qiBiklVQ0VBHQfmqricAl65fZuYdeZukF6egbfle7GKTw0+uspKvmK
 LQe+4GhDKQ2+Or7dtJeJkyYQl+CmoKCAHTt2MHLUlXROTuPgnuIOA1BKiSvOhaKqR7fsWv9RjAwM
 +INDgwG9w+Tf+EnXMm/ePBobG0lKSmLJkiW89Pv/R3nZUXaWfc3R+lL8wdDLSk1K42cXDcLQjVYG
 DbZuk5Oey8aijeyr2ENu7nk8fOfD7Nmzh08+/oSDO/cy9w4Hr3/0P6xevZo9e/bw5JNP8u6y9/hs
 1RfYHRh+0wM6rhTnwBZKREqZ5/f7sTsAwJzuWXS7OJu//OUvUblX+t1Rtq7fzubv12IpOjNmTufa
 a6+lurqaBQsW8MmnH+FxJDDgvJ+16C/oC+JyudlXsZfZs2dzzz33oKoh5tF1nZt+cxMfbljJgqeH
 MGfOHG655RYKCgo4ePgAg664lM1rt3WcTegLEJ8YlxcTTJh7yx96SClb5GLPtIy4eggLFy4kGAzi
 cDiYPn067y76K9sPb6RRr2P5iuXcd9999OvXj5EjR7J06VKmTZvG+1tXU1l/rEV/hmGwZuMqLr/8
 MmbPno3D4UBRFBRFwe128/pfXmfIkMt5aP79DB0ylKysLACWLFnCpcP6d6gcNAwDIQQ3jpwyIAqg
 Hgx2t20b2+6YKEa/wb35+OOPARg7diz1lV4++fIDyo4X89prr9G/f/8oAEIIFEXhoYceok/fPry3
 +S0sO9YL+mr/ZqrqK3nppZdQVTV6b6TGxcWxdNlSEhMT+P1Df2TMmDEAFBQUMGjEAP7tjl8y4+Fb
 yeqecdZz03Ud27bJ7JaREQVQwmUBfxAp5VlXh1Pjgou7s21biG2uuOIKCjfv4HDNfm655RbGjBkT
 BS4CnqIouFwuXn31VY7WlLOv/LsYAPdX7OOaa66hZ8+eMaA3rx6Ph5mzZrLmo9X07NkTgB07drD0
 7TfZVVpISpaHbhfmdsgcg8EgjXXeYVEZaOi6x7KsDlEgWedl8t2+7/D5Qgpi2LBhvPz4Qhp89dx6
 660IIaK+b4sgQ69e9Ondh31H9nJxdp+wbLYprT7MHSNuQ1Fiw5cn9jFlyhSefPJJfve730W15p13
 3glAp06dSE1P7ZA5WpaFK87lilKgEOKyYLBj4n5Ol4Oampro39nZ2Wwp2siwocPo27dvC8o5sY67
 fhwHKvaF+AI4WltOIBjg5z//+SnvTUpKYtq0aVEF07yUlpaSlt65Q+ZoGhYBX2BYkwzUdbeU8qxk
 Q1pmZy65vA+DrxgY87Bjx45xqPwAU6dNPSUAiqJw3XXXUeeto/x4yB8vriwmMTGJfv36tWDd1lh5
 3Lhx0SBDCwC7du4QGW8YRnShkwagOtR40zTPirzve+IufEYDu3bt4o033oienzBhArZtM3r06BYs
 2JqhOnDgQBITEimtLiWzUzaNgQYy0tPRNK1N1m9+7pJLLkHTNEwzVhGVlJSQmt65Q1hYYmNLmR4F
 0DLtS0zDOKvOa47V8OyfnuKdd96JOV9cXExSUhJpaWmnBC8CREpKCgHdHxNEbQ5+ayBG0wMuF337
 9qWoqKglBWakdQiApmFhGkafZgCa7pMZ0O15aOXRKnJyclp363r2jGrdU4EHkJycQtAIxgDY/P6T
 AQgwdOhQdu3ahWE0eTZHjhwhuXMSQghs224XUG09xzCMqJxVACzbPqnabk+pqqhpFUBN06LK40TT
 5UQ5FrmekpJMwGjyicUJbZsfv//+ewKBQAzAAwYMaAGSYRhUVVXSKS3ltHzftqoV7l+JaXgWgrWy
 oorc3NzW0qOcf/750TcaqYcPH2bOnDnceuutrF+/PgaUzp07EzD84XibCDnEzShCCEFJSQnDhw+n
 Z8+e5OTkUFhYGH3ZTqezVUA6TJE0I6wogLZtY0t5xvVYRdssHAiHyCIPPXDgAAMHDuSZZ55h0aJF
 jB49mhUrVkTb19fXR2N/nRI6c/DgQYywjI6MderUqWzevDmUx6mtZd68eU3UYVltApiakXpW87Qj
 hNYcQFta6Lp+VtZ5ZXllqwBKKamtrQ25ieHJz58/n7q6uhjD9MEHH4y22b17N2mJIaWTk5pLUA9S
 VFQUvZ6fn8/7778f85yDBw8ScUcty2pVfpWUlJAW1sRnUyOYxVDg2ZaqihoyMzNbmCqWZVFbWxsF
 r6KigiVLlrS4f+/evdi2TW1tLRXHKuiSlB7KnSR1we10s2XLlmgfrd1fWlraxEknyL+EhAQuvfTS
 kDWQkdohccEWLHzWxqWp01jvpWvXri0ArKmpiU4sEAig6y2jPiNGjEBKyZ49ewBIS+oSlncKmZ2z
 2bJlS7SPSLSlebnpppui1ysqKkhNTWX//v0MGzaMG2+8kXWff0HvHv04tL+4Q2WgFgqP2x1ChRFT
 5siR2Kzed999F6WKzMxM+vbty86dO2PazJkzB9u22blzJ6qq0jmhye3K7pRD/if50fBYRClFSpcu
 XaL3A6xbu45OnlQO7Sll8ODBfPDBB+i6zrzZT3XIaosIpcfkRCKW/lkB2IYiKS4uZt++fdE39+qr
 r5IRigYBMHXqVEaOHIlt2yxbtoweGRegKE3+7KALLqOyspKlS5di2za/+tWvGDJkSCh4kZXF4sWL
 8Xg8UQrfvGUz0q/y0YpPmTlzJocPH2bh/7zKs4sfZ+z4/0OXrmlnDWBMRNq2bRDyrKmw8mjIlHE6
 nWRnZ5OTk0NOTg4rV65kzZo10chI//79+eabb9i0aRM9evSgW7du2LbNoUOHWLt2Lf86/MaYflM8
 neh7Xn+eeuopJk6ciMvl4uOPP6a0tJSsrCwURYlSxNatWwkGg6TEp7KtYDtVZdcxb948Zs+ezdat
 Wxk/fjzPzXicoFfnm607+Xb7LnYW7uHI4fLTc+VOtANPZTi2p1aUVzJ//ny8jV42bdjMgudfYcpN
 U7m0/89YvWp1VEbZto3L5WLkyJHk5jbF6P785z+T7EmmV/bFLWVk75EcPHiQVatWtZCFzTX8K6+8
 QpwrnninByklTz34PL8Y88+88847lJWVcfPNN5OZmcm1437Bms9Xktsvg0f/+wEWLn+RzJyMdmvh
 6JIUgF/l/UbW1dTHuD5nUjyJHtxuF8era2M04bH6cnYfKeLdd98lLy+vVVeprKyMET8fwcDcQYzs
 O6rV/t/dtIyS48WsWr2Kfv36tbien5/PhAkT6JM9kPSkzOh5h0Pj17dPZOQ/jSA+yc2aNWv47LPP
 2LJlS1S03H777cx79DH+eO8TFH2146TzdDgcJHdO4p21r4dm8H+vuslXW10Xd7YAnqx8W/Y1tmaw
 ceNGUlNTY8BraGjg6quvprayjsl5U3A73K37oJbBG1++Rm2whpUrV9KnT5/otfLycsaOHYvRaNM3
 +9I2x5GZ05WhIy+jz4CL6d2/F57keN566y2mT5/OiBEjeOftd3lwxh/Z/c3etgF0OklI9LB8/RtR
 AL+oPV53hd5BSaXWJ6+z/fBGBl82mBdfepHs7GwAqqurufU/bqWosIgZ/3I3Ttt18rSiqbN04xIq
 jh9l1OhR5OXlsWfPHhYvXoymOBiYOwSn5mr3uJJSEpn72L0cqytnwoQJjBo1itdfe52ZN82hrPhI
 mysU4uLdu5Z/+WZfATD+in/73Of1553rBZW1vhr2VexAN3Wuu+46qquqKdhYgCIUhvW+khuuuoHj
 x2pPHfVOdPJG/muUV5dT5z2OQ3OQmdyNzJRcVOX0VyOomspDT99HEB8TJ07k7bffJqtLDlMn3t1q
 +3hPHPGeuLXLv3zzKi0si/wduaCorZIS35lB3a6gsqGcdZ9+iUNx0jOjL509XRC2xK/7UVQF2zp5
 uMmpOhl04WAOug9jWyFRcCbARY190+L398xn7mP3UFZWxtYN25k79ZE22yuKEg3YRsyYrxRVXCOx
 zzmIQoH05EzSkzNjByVsjtfXkOzshG7pp5xw55Q0istLQIqoaXE6MWWQICSqqoCwkZZg3twnGbRi
 INs2FZ5iEhKhioIogFJIb0f5xGdMBbbEtMxTBksjyytyu+ZSuPfr8JhF+0ATEk1TkNh43HFkpmWR
 npqBJy6B7Xu3cayqhq0bt7cvKq2behOAUn6lqurfDECJRFMgNSUVo8FoF8vZhs3Q/kPZ9M0mTNPC
 tgUijGXoIBGKQFNFiDalJL1zOrldc+mamonL6cLQTYyggSIFF53Xi+rjmzDa8RtARVEQqtjYlFRy
 KmWWEQoBtQtEReJQRZQZLMtCIsAWSEm7qKg5O7hcCudl5+BW46i3G9p1m7fOR2pSF64ePpbi8mIq
 qo7iDXhRFQ1NU3E5XKQmp5KS2ImkhGQ8Hg+WYWMEDXSvgb8ugFCaArRx7rh20XEklN9Y562gOe1f
 c/n1srHBe8qV+UKRxMc7GNhrEKqiYJoGDd4GahtqafA24Av4kIAiQmDadiTaLYlwm4JA1RQ0VcEd
 5+aSiy6hkzsNX4P/tLnA4XLgdDnQnA4URYSyyVJi2xLLMLFMC9OwsEwrmntRFAXRLOpm2xJngsZH
 BR8QPMXySIdTI94Tx4dfrRRRCgyz8VpVVfNOBaBDUxjUezCpiemYuokSr9C1UxaKpqKqoZB8MBjE
 62+k0d+IaZtYto1tW9i2hSVt4lxuUhI7EefyoKER9AXx1p/ZukQjaGAEjVMmh4QQKKpCW8yhaQ7a
 swouTIFrY4IJYUWyUSjknUybSSmRQpCW0oVAQ6BVao0M1Km5SUuIBxEm86YPbMvC1E0C/nPzIxkh
 Qg9tysGcLLICmqbi8/sQ7dDmQgHTsgpbAGiZ9malHYpEIHA6XXhNX5sgW2aIZc6ZKRRNLkU+Tjh3
 mqEph8tBSXkxlnXyuGiIOFQsy2qFAqVcGyHRtpIyCHBoDpDRRFmHAEEzaSyavsReOkOATgqeLVE1
 Fc2lcejIIcxTaOCIpeJr9EUBjIrST7evqRMKHyqa0nYYR0o01XnKVaxR1lHCOV9VQVUVVE0NDdgR
 qqqmNNVwG0UVoao0VaGE2LCjwJMSLMtGdWh4kj1s2P4lXp8Xyzx5flzRFGxpFWw+sK6uBQWGPZLl
 qqqObUsO2FLi172YloHT7cQIGqHJnSMK6VhbM/Qh7RAQicmJ6GaQDYVfUnn8GH49tPJUIk9q/1mm
 /VbMueZ/uN3utwAUVW09J2pLDMPmi23rUN2ChBQPTpcDoTTZj/JHAFSYWbBtiW2Fxq0IBVe8i6S0
 JNwJLvYc3MkH6/9K2bEjNPpCOWcrvOKgtblH9IPUzDdPkGqx5cr+YxaZpjnpxPXSTcJV4HSquJ0a
 F2ZfRE5GLslJySAEZtDA0A1Mw2za1SOihZu+xFDsmfJglKJCH2ENKVDViGhQo1UIgS/go6LqKAfL
 DnK8oRqJwK/rIcNfNlGoCL+AE50Bd5wLRVHe+PLb/F/HmD8txibkAkVRJp3oG0spw6aBJGja6LbB
 t8U72Ve2F4fqpEtSF9JS0+mcnEpyp6SQwLUjKwkk0raRdjizH/lbyqgyEmEzJ3JsMn9anovI19Ca
 mdBRCLAtG6/fR52vlrrGOmobjlPrrcXrC22WYQFB08C0raaHComQIhpfkGE1Ztt2FERVDb0EPWi8
 2opebVl+3mfU55Zl5enNDNQIgBHGl5HV1QooQkEVAqfqQBUKtmXi0BxoDg2n5sLlcOF2uXE53Lid
 cTidDlyaC6fDGWIN28aSEYCtEOtJG2nb2NIOezMWVvhomCZ+3U8g4CdoBAkaoVyzZVsoioZEYtgm
 Fja2DK0iCOPTtNZGQEjUhwCTobxayJ+WsVTocjtRFGXthl2ftfjBtdaGsLxbSrldKERZUUoZNjTD
 A7AEUgFhgS1sLMCwTCRKyJE3DURQAA0IERG2Ia2sCgVFKChNXN0ku2JCDOFjmFVlWB4R+R72pe0o
 9YCMhMJkk+0eGbNo1quwTxABEdMsEh6LrDxQQxaFruuPtGHZtV6G977qOcuyZulBI2qdx6zjE80m
 KWIMtrBQCR2jb11EhJYIz645dCIKnBAnC09FWD5iLYb6aZJhMsSCkeeHRyia9Sdkc5kuYsKDkSlE
 5ilQcLmdAAs27V03vVUX8CQW+sPAOFVTupumHbXvmtJ5ItY/Cbt5IjrkGOEWot3I4Jufi4DbTElJ
 0RzS5mOK9NtsuZuM0lSIwqPPCL86GRlTFJ4wB4vwu2w22nBfESLRHCpSykOKotzftmd2kjLkoisH
 SOwC07DiW/NOWnN7YrWXbOVbs0cLWlBGhGZajExGAKeJYkUrhl6bkxNtjru18JumaRHlMXDzd1+0
 ufHOSRMJZdXFFVmdc8uE4PqIRj0dHzNij0nZjE3kCcZauDZZ/M2EYYv2keayxf2t3RPz/NMoihLy
 jhBM3rIv9KvMM6LASBl84fBJwCLTNP/udm1rzd8N/4Rh8tb9Bafcwa1dqawjNSVFmZ1yDgkh/gmB
 I/Sy7dbI6idbRTjIG45ST952YGO7tr87LXfg0vOHDABWSCm7txmx+QlTnhDiEHD99u83t3sDxtNK
 ph6tLavISMleJMCtKMrQv3UmryPCac1+g/KchImFh7ac1k/cz9gh7Zt76WWKUJ8E8iJC3f6JgKmE
 Y2Nh7bsWeGTH4a0/zCa0J5b+5w0eCUyWUk5u0r7yR0txzUyWFUKI584UuA4DsBmQKVLKSYQ34m4R
 iPgbAdb8u5SyUAixSEq5Ymfp1z+OjbhbZe+cn0W3gie0Z37eDwXkCUbxWpptBb+z9Osf71bw7QB1
 QHgzw3P6zwiAQiHEoZ2lXxfxv+XHX/4/cdB4tXWeRLcAAAAASUVORK5CYII=
