#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# We use bash brace expansion below, so force-use bash here
SHELL := bash

DOCS		= README

PYTHON		= python
TARGET_PYTHON	= python2.6
SETUP		= GPODDER_INSTALL_UIS="cli qml" $(PYTHON) setup.py

PACKAGE		= gpodder
DESTDIR		= debian/$(PACKAGE)
PREFIX		= usr
OPTDIR          = opt/gpodder

ORG_DIST_PACKAGES = $(PREFIX)/lib/$(TARGET_PYTHON)/dist-packages
OPT_DIST_PACKAGES = $(OPTDIR)/lib/$(TARGET_PYTHON)/dist-packages

configure: configure-stamp
configure-stamp:
	dh_testdir
	touch configure-stamp

build: build-stamp
build-stamp: configure-stamp
	dh_testdir
	PYTHON=$(PYTHON) make share/dbus-1/services/org.gpodder.service
	PYTHON=$(PYTHON) make share/applications/gpodder.desktop
	PYTHON=$(PYTHON) make share/applications/gpodder-url-handler.desktop
	PYTHON=$(PYTHON) make messages
	${SETUP} build
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	${SETUP} clean --all
	rm -rf build dist
	dh_clean
	PYTHON=$(PYTHON) make clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	${SETUP} install --no-compile --install-layout=deb --install-pure='$(ORG_DIST_PACKAGES)' --root='$(DESTDIR)' --prefix='$(PREFIX)'
	# Optification
	mkdir -p $(DESTDIR)/$(OPTDIR)/share
	mv $(DESTDIR)/$(PREFIX)/share/{gpodder,locale,man} $(DESTDIR)/$(OPTDIR)/share/
	mkdir -p $(DESTDIR)/$(OPT_DIST_PACKAGES)
	rm -f $(DESTDIR)/$(ORG_DIST_PACKAGES)/gpodder-?.?.?.egg-info
	mv $(DESTDIR)/$(ORG_DIST_PACKAGES)/* $(DESTDIR)/$(OPT_DIST_PACKAGES)/
	mkdir -p $(DESTDIR)/$(OPTDIR)/bin
	mv $(DESTDIR)/$(PREFIX)/bin/* $(DESTDIR)/$(OPTDIR)/bin/
	mv $(DESTDIR)/$(PREFIX)/share/pixmaps/gpodder.png $(DESTDIR)/$(OPTDIR)/gpodder.png
	rm -rf $(DESTDIR)/$(PREFIX)/share/{icons,pixmaps}/
	rm -rf $(DESTDIR)/$(PREFIX)/{bin,lib}/

binary-arch:

binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installdocs $(DOCS)
	dh_installman
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep

.PHONY: build clean binary-indep binary-arch binary install configure

