[Desktop Entry]
Name=gPodder
Comment=a media aggregator / podcast catcher
Comment[de]=Medien-Aggregator und Podcast-Client
Exec=gpodder
Icon=/usr/share/gpodder/images/gpodder.png
Miniicon=/usr/share/gpodder/images/gpodder.png
GenericName=Media aggregator
Terminal=false
Type=Application
Categories=AudioVideo;Audio
