[Desktop Entry]
Encoding=UTF-8
Name=gPodder Podcast Client
Name[de]=gPodder Podcast-Client
Name[ru]=gPodder Подкаст-Клиент
GenericName=Media Aggregator
GenericName[de]=Medien-Aggregator
GenericName[ru]=Загрузка, прослушивание подкастов
Comment=Download audio and video content from podcasts
Comment[de]=Laden Sie Audio- und Video-Inhalte von Podcasts herunter
Comment[ru]=Загрузка и восроизведение аудио и видео подкастов, синхронизация с iPod
Exec=gpodder
Icon=gpodder
Terminal=false
Type=Application
Categories=Application;AudioVideo;Audio;
