[Desktop Entry]
Name=gPodder Podcast Client
GenericName=Media Aggregator
Comment=Download audio and video content from podcasts
Comment[de]=Laden Sie Audio- und Video-Inhalte von Podcasts herunter
Exec=gpodder
Icon=gpodder
Terminal=false
Type=Application
Categories=Application;AudioVideo;Audio;
