# PyPI / pip requirements for Linux
# For the benefit of e.g. flatpak-pip-generator.
#
dbus-python
html5lib==1.1
mutagen==1.47.0
mygpoclient==1.10
podcastparser==0.6.10
requests[socks]==2.32.3
urllib3==2.2.2
yt-dlp
pillow
filelock
# eyed3 is optional and pulls in a lot of dependencies, so disable by default
# eyed3
