
body {
    font-family: sans-serif;
    margin: 0px;
}

h1 {
    padding: 4px;
    margin: 0px;
    font-size: 18px;
    background-color: #66CC66;
}

h2 {
    display: none;
}

ul {
    list-style: none;
    padding: 0px;
}

li {
    padding: 5px;
    cursor: pointer;
    overflow: hidden;
}

#podcasts li.selected {
    font-weight: bold;
    background-color: #CC9966;
    color: #8A2E2E;
}

li:hover {
    background-color: #66CCCC;
    color: #2E8A8A;
}

#podcasts {
    position: absolute;
    top: 20px;
    left: 0px;
    width: 20%;
}

#episodes {
    position: absolute;
    top: 20px;
    left: 20%;
    width: 80%;
}

#episodes li.selected {
    font-size: 10pt;
    background-color: #66CC99;
    color: black;
}

.listwrapper {
    float: left;
    width: 50px; height: 50px;
    text-align: center;
    vertical-align: middle;
    margin: 10px;
}

