name: lint and test

on: [push, pull_request]

jobs:
  linttest:
    name: lint and unit tests
    if: >-
      github.event_name == 'push' ||
      github.event.pull_request.head.repo.full_name != github.event.pull_request.base.repo.full_name

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.7', '3.8', '3.9', '3.10', '3.11']

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          sudo apt-get update -q
          sudo apt-get install intltool desktop-file-utils
          pip3 install pytest-cov minimock pycodestyle isort codespell requests pytest pytest-httpserver
          pip3 install podcastparser mygpoclient
      - name: Lint
        run: make lint
      - name: Test
        run: make releasetest
